<div class="input-group {{if this.shouldHighlight "selected"}}">
    {{ember-flatpickr
            date=(readonly @value)
            enableTime=@enableTime
            dateFormat=this.dateFormat
            time_24hr=true
            minDate=this.minDate
            maxDate=this.maxDate
            mode=this.mode
            enable=this.enable
            disabled=this.disabled
            locale="sk"
            onChange=(action updateValue)
            onDayCreate=(action onDayCreate)
            getFlatpickrRef=(action setFlatpickr)
            classNames="form-control"}}

    {{#if this.icon}}
        <div class="input-group-append">
            <div class="input-group-text">
                <i class="far fa-calendar-alt"></i>
            </div>
        </div>
    {{/if}}
</div>