{{#ui-modal/backdrop}}
    {{#ui-modal/dialog onClose=(action onClose) onInsert=(action onInsert)}}
        <div class="modal-dialog {{if scrollable "modal-dialog-scrollable"}} {{size}}" role="document">
            <div class="modal-content">
                {{yield (hash header=(component "ui-modal/header") close=(component "ui-modal/close") body=(component "ui-modal/body") footer=(component "ui-modal/footer"))}}
            </div>
        </div>
    {{/ui-modal/dialog}}
{{/ui-modal/backdrop}}